* {
    margin: 0%;
    padding:0%;
}

body{
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;


}
.calculadora {
    --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    width: 325px;
    height: 550px;
    padding: 5px;
    padding-top: 1rem;
    border-radius: 1rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
    
   }
   .display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}
#valor-actual {
    font-size: 1.5em;
}

#valor-anterior {
    font-size: 2em;
}
   
   
   .calculadora-info {
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   
   
   

   
   
   